 .box {
     width: 50px;
     height: 50px;
     background-color: aquamarine;
     border: 1px solid lightgreen;
     text-align: center;
 }

 .boxA {
     position: relative;
     top: 200px;
     left: 200px;
 }

 .boxB {
     position: absolute;
     left: 176px;
     top: 180px;
 }

 .boxC {
     position: absolute;
     left: 240px;
     top: 180px;
 }

 .boxD {
     position: absolute;
     left: 176px;
     top: 240px;
 }

 .boxE {
     position: absolute;
     left: 240px;
     top: 240px;
 }