* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header,
.footer {
    background-color: #3f3c3c;
    color: white;
    padding: 20px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar,
.content {
    background-color: #bfbcbc;
    padding: 20px;
    text-align: center;

}

.sidebar {
    background-color: #66cc99;
    color: white;
}

.content {
    background-color: #ff9933;
    color: white;
}

@media screen and (min-width:800px) {
    .container {
        flex-direction: row;
    }

    .sidebar,
    .content {
        flex: 1;
    }
}